.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-disabled {
  visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  background: #e8e8ed;
  border-radius: 50%;
  padding: 1.1rem;
  font-weight: bold;

  --swiper-navigation-size: 16px;
  --swiper-navigation-color: #0000008f;
  --swiper-navigation-sides-offset: 20px;
}
